.welcome{
  margin-top: 1em;
  background-color: white;
  border-radius:6px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
  padding: 3em;
  @include desktop;
  @include tablet {
    display: flex;
    text-align: left;
    .welcome__content {
      @include tablet {
        width: 160%
      }
    }
  }

  .welcome__title{
    padding-top: 0.25em;
    font-size: 3.5em;
    text-align: center;
    @include tablet{
      text-align: left;
    }
  }
  .welcome__description {
    padding: 0.75em 0.25em 0 0;

    font-size: 2.75em;
    text-align: center;
    line-height: 1.25em;
    @include tablet{
      text-align: left;
    }
  }
  .welcome__actions{
    @include tablet{
      width: 100%;
    }
    .welcome__cta{
      background-color:$button-featured-color;
      color: white;
      font-size: 2em;
      font-weight: 900;
    }
    .welcome__more{
      background-color: $main-background-color;
      font-weight: 900;
      font-size: 2em;
    }
  }
}