

body {
  background-color: $main-background-color;
}


h1 {
  font-size: 3em;
  font-family: 'Oleo Script', cursive;
  color: white;
  background-color:$logo-background-color;
  padding:0.2em;
  display: inline-block;
  border-radius:7px;
  letter-spacing:0.1em;
  font-weight:300;
}