//tło strony
$main-background-color: #e4e4e4;
//kolor tekstu
$main-font-color: #444444;;
//tło loga
$logo-background-color: #fc4887;
//niebieskie obramowanie przycisku
$button-featured-color: #1691c3;